* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

.header-container {
    background: linear-gradient(90deg, rgba(60, 62, 63, 0.3) 0%, rgba(84, 88, 88, 0.3) 100%), url(/img/bg9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*NAV BAR*/
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 10;
    width: 100%;
    padding: 25px;
}
.logo-nav img {
   height: 100px;
}
.nav-container {
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
    padding: 10px;
}
.nav-container a {
    color: white;
    margin-right: 30px;
    text-decoration: none;
    font-size: 30px;
}

/*MENU*/

#menu-icon {
    display: none;
}

.menu-nav {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: gray;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.menu-nav a {
    color: white;
    margin-bottom: 30px;
    text-decoration: none;
    font-size: 30px;
}


























 /*HEADER-TILE*/
.title-container {
    padding: 20px;
    font-size: 30px;
    padding: 30px;
    margin-top: 50px;
}
.title-container h1 {
    font-weight: 800;
    color: white;
}
/*SEARCH BAR*/
.search-bar {
    padding: 30px;
    margin-bottom: 30px;
    
}
.search-bar-container {
    display: flex;
    align-items: center;
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    column-gap: 10px;
    background-color: white;
    border-radius: 40px;
}
.search-input {
    border: none;
    padding: 5px;
}
/*SERVICES*/
.services {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color: white;
    text-align: center;
}
.services-title {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 25px;
    text-align: center;
    background-color: rgb(177, 17, 17);
    border-bottom: solid 4px black;
    padding: 15px;
}

.services img {
    width: 300px;
    height: 300px;
}

.service-text {
    text-align: center;
}
.service-link {
    padding: 10px;
    margin-top: 10px;
}
.service {
    background-color: white;
    padding: 20px;
}
.service button {
    margin-top: 15px;
}


/*CHEF SECTION*/
.chef-section {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: white;
}
.chef-section img {
    width: 100%;
    height: 600px;
}
.chef-section-img {
    padding: 20px;
}
.chef-section-text {
    font-weight: 400;
    font-size: 50px;
    margin-left: 30px;
}
.chef-section-text h3 {
    color: black;
}

/*STORE*/
.store-section {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: white;
}
.store-section img {
    width: 100%;
    height: 600px;
}
.store-section-img {
    padding: 20px;
    order: 2;
}
.store-section-text {
    font-size: 50px;
    margin-left: 30px;
    font-weight: 400;
}

.store-section-text h3 {
    color: black;
}

.btn {
    padding: 15px;
    font-size: 20px;
    color: white;
    background-color: rgb(177, 17, 17);
    border-radius: 20px;
    border: none;
}
/*DESSERTS*/
.des-container {
    background-image: url(/img/bg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.des-title {
    text-align: center;
    padding: 20px;
    font-size: 50px;
    border-bottom: solid 4px black;
    color: rgb(156, 9, 9);
}

.des-section {
    gap: 10px;
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "s1   s2   s3"
    "s4   s5   s6";
}
.s1 {
    grid-area: s1;
}
.s2 {
   grid-area: s2;
}
.s3 {
    grid-area: s3;
}
.s4 {
    grid-area: s4;
}
.s5 {
    grid-area: s5;
}
.s6 {
    grid-area: s6;
}
.des-section img {
    width: 500px;
    height: 500px;
}


.des-div-text {
    width:auto;
    height: auto;
}
.des-div {
    margin: 40px;
    margin-bottom: 60px;
    text-align: center;
}
.des-div-text {
    font-size: 30px;
    padding: 5px;
    background-color: white;
}
/*APP SECTION*/
.footer-apps {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 30px;
    background-color: black;
}
.stores-section {
    display: flex;
    margin-left: 30px;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}
.app-section a {
  color: white;
}
/*FOOTER*/
footer {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    background-color: black;
}














/*MQ*/
@media (max-width: 768px ) {
    /*MENU*/ 
    #menu-icon {
            display: block;
            width: 50px;
            height: 50px;
    }
    .menu-nav {
        flex-direction: column;
        font-size: 30px;
    }

    /*NAV-BAR*/
    .nav-bar {
        flex-direction: row;
        padding: 0;
    }
    .logo-nav img {
        height: 60px;
    }
    .nav-container {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
 
    }
    .nav-container a {
        font-size: 60px;
        margin-bottom: 60px;
        font-weight: 700;
        font-size: 20px;
    }
    .title-container {
        padding: 20px;
        padding-top: 0;
        font-size: 20px;
        text-align: center;
        margin-top: 0px;
    }
    .services {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 20px;
        background-color: rgb(155, 150, 150);
        text-align: center;
    }
    .chef-section {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 20px;
        background-color: white;
    }
    .chef-section img {
        width: 300px;
        height: 300px;
    }
    .chef-section-img {
        padding: 20px;
        order: 2;
    }
    .chef-section-text {
        font-weight: 400;
        font-size: 30px;
        margin-left: 0;
        margin-bottom: 10px;
    }
    .store-section {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 20px;
        background-color: white;
    }
    .store-section img {
        width: 300px;
        height: 300px;
    }
    .store-section-img {
        padding: 20px;
        order: 2;
    }
    .store-section-text {
        font-weight: 400;
        font-size: 30px;
        margin-left: 0;
        margin-bottom: 10px;
    }
    .btn {
        padding: 15px;
        font-size: 20px;
        color: white;
        background-color: rgb(177, 17, 17);
        border-radius: 20px;
        border: none;
        margin-top: 10px;
    }
    .des-section img {
        width: 300px;
        height: 300px;
    }
    
    
    .des-section {
        gap: 10px;
        display: grid;
        justify-items: center;
        align-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "s1"   
        "s2"  
        "s3"   
        "s4"
        "s5"   
        "s6";}
        .footer-apps {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
        }
        .stores-section {
            display: flex;
            margin-left: 0;
            font-size: 20px;
            align-items: center;
            justify-content: center;
            column-gap: 8px;
            margin-bottom: 10px;
        }
        footer {
            display: flex;
            flex-direction: column;
        }




}