* {
    margin: 0;
    padding: 0;
}

.header-container {
    background: url(/img/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*NAV BAR*/
.nav-bar {
    background-color: black;
    width: 100%;
    padding: 25px;
}
.nav-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    column-gap: 20px;
    padding: 10px;
}
.nav-container a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
 /*HEADER-TILE*/
.title-container {
    padding: 20px;
    margin-top: 50px;
}
.title-container h1 {
    font-weight: 800;
}
/*SEARCH BAR*/
.search-bar {
    padding: 20px;
    margin-bottom: 30px;
    
}
.search-bar-container {
    display: flex;
    align-items: center;
    padding: 10px;
    column-gap: 10px;
    background-color: white;
    border-radius: 40px;
}
.search-input {
    border: none;
    padding: 5px;
}
/*SERVICES*/
.services {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color: rgb(155, 150, 150);
    text-align: center;
}
.services-title {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 25px;
    text-align: center;
    background-color: rgb(155, 150, 150);
    border-bottom: solid 4px black;
    padding: 15px;
}

.services img {
    width: 300px;
    height: 300px;
}

.service-text {
    text-align: center;
}
.service-link {
    padding: 10px;
    margin-top: 10px;
}
.service {
    background-color: silver;
    padding: 20px;
}
button:hover {
    background-color: gold;
}